<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MalMaker - M1dnightDev</title>
  <script src="static/script.js" defer></script>
  <link href="static/style.css" rel="stylesheet">
</head>
<body>

<header>

<img src="static/logo.png"
     id="logo">
</img>
  
</header>
<div id=title>
<h1>One Tool, Many Possibilities</h1>
</div>
<section id="sect1">

<div id="desc_bg"></div>

<p id="desc">
  MalMaker is an advanced open source tool for 
  malware enthusiasts built in python for ultimate 
  ease in making malware, wether for tests, fun, or
  the worse prank ever. It is highly advanced, with 
  many events, tools ,and so much more. It's even open 
  source for fellow developers to add this own twist.
</p>
  
<img src="static/image_of_tool.png" id="mockup"></img>
  
</section>

<section id="sect2">

<h1>Download MalMaker Today</h1>

<div id="productContainer">

<item>

<img src="static/logoWin.png" class="logo"></img>
<h1>MalMaker for Windows</h1>
<button id="downloadWinVer">Download</button>
<script>
document.getElementById("downloadWinVer").addEventListener("click", (event) => {
  console.log('button pressed');
});
</script>
  
</item>


<item>

<img src="static/logoGit.png" class="logo"></img>
<h1>MalMaker Source Code</h1>
<button id="downloadSource">Explore</button>
<script>
document.getElementById("downloadSource").addEventListener("click", (event) => {
  window.location.href = "https://github.com/M1dnight-ofcl/MalMaker-for-Windows-2023";
});
</script>
  
</item>
  
</div>
  
</section>
  
</body>
</html>